@charset "utf-8";
/* CSS Document */
/* Reset & basis */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #e6f2ff;
  line-height: 1.6;
  }

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #003366;
  z-index: 1000;
}
.navbar ul {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 1rem 0;
}
.navbar li {
  margin: 0 15px;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  position: relative;
}
.navbar a:hover::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}


.content-box {
  max-width: 900px;
  margin: 120px auto 40px auto; 
  background-color: white;
  color: #003366;
  padding: 30px;
  box-shadow: 0 4px 40px rgba(0,0,0,0.4);
  border-radius: 0px;
}
img.logo {width: auto;
height:auto;
max-width: 100%}

.img:hover {
		transform: scale (0.80);
		transition: transform 0.3 ease;}

ul li p {
  margin-top: 10px;
  margin-bottom: 20px;
  margin text-align: left 60px;
  color: #003366;
}

.footer {
  background-color: #003366;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;		
}

@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
  .navbar li {
    margin: 10px 0;
  }
  .content-box {
    margin: 140px 20px 40px 20px;
    padding: 20px;
  }
/* Standaard desktopstijl */
.container {
  width: 960px;
  margin: 0 auto;
}

/* Mobiele stijl */
@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
	 padding-top: 90px; 
  }
}
img {
  max-width: 100%;
  height: auto;
}
 	
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}
}